{% extends 'fedst7_app/base.html' %}

{% block content %}
<h2>📥 Prediksi Nilai Akhir Mahasiswa</h2>
<p>Silakan masukkan data siswa berikut untuk memprediksi nilai akhirnya.</p>

<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.attendance.label_tag }}<br>
        {{ form.attendance }}
    </div>
    <div class="mb-3">
        {{ form.quiz_score.label_tag }}<br>
        {{ form.quiz_score }}
    </div>
    <div class="mb-3">
        {{ form.midterm_score.label_tag }}<br>
        {{ form.midterm_score }}
    </div>
    <div class="mb-3">
        {{ form.project_score.label_tag }}<br>
        {{ form.project_score }}
    </div>

    <button type="submit" class="btn btn-primary">Prediksi Nilai</button>
</form>
{% endblock %}
